.card {
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid brown;
  margin: 10px;
  border-radius: 20px;
}

.flex {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
}
